## INSTRUCTIONS
# The .env file will contain environment variables that are specific to you with
# out changing the code in the repository. Copy the .env.sample file to .env and# modify the variable values. Do NOT commit the .env file. A .env will need to
# be made on both your local machine and the server.

# Client
REACT_APP_PASSCODE='777'
REACT_APP_HOST='http://localhost:3000'                  # local machine
# REACT_APP_HOST='http://csci331.cs.montana.edu:30XX'   # server
PORT=50xx
