body {
  margin:0 0px;
}
.App {
  font-family: Arial, Helvetica, sans-serif;
  max-width:600px;
  margin: auto;
}
#main_container {
  max-width: 600px;
}
#userInput {
  display: flex;
  flex-direction: column;
}
#userInput div{
  width: 100%;
  margin: auto;
}
#userInput input{
  width: 90%;
  margin: 10px;
  padding: 10px;
  font-size: 2rem;
  border-radius: 5px;
  color: #333;
  background-color:rgba(135, 206, 235, 0.3);
}
#firstLastName {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#userInput label{
  display: block;
}
.userData {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.submitBtn {
  margin: 20px;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
}
.editField{
  margin: 20px 0;
}
.floatLeft{
  float:left;
}
.floatRight{
  float:right;
}
.clear {
  clear:both;
}
.emailListed{
  float:right;
  margin-right: 2rem;
}
.editControls{
  display: none;
}
.editGui {
  margin-bottom: 20px;
}
.editGui button {
  width: 20%;
  margin-right: 1em;
}
.editGui input {
  width: 50%;
  padding: 5px;
}
#doneButton{
  display: none;
}
#editPasscodeInput{
  visibility: hidden;
}
#submitEmailsButton{
  display: none;
}
#curr_entries_table {
  margin: 0 auto;
  width: 85%;
}
#curr_entries_bttns {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
#editButton {
  /* border: 2px solid green; */
  margin-left: 25%;
}
#top_header {
    /* border: 2px solid green; */
    position: relative;
    bottom: 15px;
    background-image: url("https://uploads-ssl.webflow.com/57b4d56c1f986d4879b0574d/589a1d631c4e926c434747a9_groomed%20snow.jpg");
    background-color: #cccccc;
    height: 280px;
    background-position: 50% 50%, 0px 0px;
    background-repeat: no-repeat, repeat;
    background-size: cover, auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:flex-end;
}
#top_header h1 {
  font-family: 'Carrois Gothic', 'sans-serif';
  font-size: 60px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px #000;
  margin-right: 10%;
  /* border: 3px solid yellow; */
}
#header_img {
  width: auto;
  height: 80%;
  margin-left: 15%;
  margin-bottom: 1%;
  /* border: 3px solid green; */
}


@media only screen and (max-width: 1225px) {
  #top_header h1  {
      font-size: 50px;
      margin-right: 5%;
  }
  #header_img {
    height: 70%;
  }
}

@media only screen and (max-width: 980px) {
  #top_header h1  {
      font-size: 40px;
      margin-right: 3%;
  }
  #header_img {
    height: 60%;
  }
  #top_header {
    height: 200px;;
  }
}